.navbar-pasific {
    color: #fff;
    font-family: 'Pacifico', cursive;
}

html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

p {
    word-break: break-all;
    white-space: normal;
}