/*  ====================================================
CSS Style for Pasific HTML Template
Author: myboodesign
Envato Profile: http://themeforest.net/user/myboodesign
======================================================== */

/*  ----------------------------------------------------
1. IMPORT GOOGLE FONTS
-------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);

/*  ----------------------------------------------------
2. GENERAL STYLES
-------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #747474;
}


p {
    font-family: 'Open Sans', sans-serif !important;
    margin: 0 0 25px 0;
    font-size: 13px;
    line-height: 25px;
    color: #747474;
}
p strong { font-weight: 600; }

a {
    color: #111;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}
small {
    display: block;
    margin-top: 5px;
}
.animated { visibility:hidden; }
.visible { visibility:visible; }

.font-montserrat  { font-family: 'Montserrat', sans-serif !important; }

#pageloader {
    background-color: #E74C3C;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#pageloader.bw {
    background-color: #000000;
}
.loader-item {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 40px;
    width: 40px;
}
.loader-item img {
    width: 80px;
}
::-moz-selection { /* Code for Firefox */
    color: #fff;
}

::selection {
    color: #fff;
}


/*  ----------------------------------------------------
8. BUTTONS
-------------------------------------------------------- */
.button{
	display: inline-block;
	padding: 8px 16px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
		  user-select: none;
	background-image: none;
	border: 1px solid transparent;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
    text-shadow: none;
	font-weight: normal !important;
	letter-spacing: 1px;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.button,
.button:hover {
	color: #fff !important;
}
.button i {
    margin-left: 15px;
    margin-right: 0;
    font-size: 14px;
}
.button small{
    margin-top: 0px;
}
.button:focus {
    outline: none;
    color: #fff;
}
.button-lg { font-size: 13px; padding: 15px 30px;}

.button-lg.button-rounded,
.button-rounded.button-lg { -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}

.button-circle {
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}
.button-block {
	display: block;
	width: 100%;
	margin-top: 5px;
}
/* Main Colors */
.button.button-pasific {
	color: #fff;
}



/*  ----------------------------------------------------
11. FORM
-------------------------------------------------------- */
.input-circle {
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}
.input-lg {
    height: 50px;
    padding: 4px 10px;
    font-size: 15px;
}

/*  --------------------------------------------------------
17. NAVBAR
-------------------------------------------------------- */
.navbar-pasific {
    background-color: transparent;
    /*padding: 20px 0;*/
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
       -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
            transition: background .5s ease-in-out,padding .5s ease-in-out;
}
.navbar-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    margin-top: 20px;
}
.navbar-container ul.navbar-nav .dropdown-menu {
    margin-top: -10px;
}
.navbar-pasific .navbar-brand {
    color: #fff;
    font-family: 'Pacifico', cursive;
    /*font-size: 24px;*/
}
.navbar-pasific .navbar-brand img {
    float: left;
    margin-right: 10px;
    margin-top: -5px;
}
.navbar-pasific .container-fluid .navbar-brand img {
    margin-left: 20px;
}
.navbar-pasific .container .navbar-brand img {
    margin-left: 0;
}
.navbar-pasific .navbar-brand:hover,
.navbar-pasific .navbar-brand:focus {
    background-color: transparent;
}
.navbar-pasific .navbar-text {
    color: #777;
}
.navbar-pasific .navbar-nav > li {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-pasific .navbar-nav > li > a {
    color: rgba(255,255,255,.7);
}
.navbar-pasific .navbar-nav > li > a:hover {
    color: rgba(255,255,255,1);
}
.navbar-pasific .navbar-nav > li > a:hover,
.navbar-pasific .navbar-nav > li > a:focus {
    background-color: transparent;
}
.navbar-pasific .navbar-nav > li a:hover,
.navbar-pasific .navbar-nav > .active > a,
.navbar-pasific .navbar-nav > .active > a:hover,
.navbar-pasific .navbar-nav > .active > a:focus {
    background: transparent !important;
}
.navbar-pasific .navbar-nav > .disabled > a,
.navbar-pasific .navbar-nav > .disabled > a:hover,
.navbar-pasific .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.top-nav-collapse {
    padding: 10px 0;
    background: #fff !important;
}
.top-nav-collapse-inverse {
    padding: 10px 0;
    background: #000 !important;
}

.top-nav-collapse .navbar-brand {
    color: #555 !important;
}
.top-nav-collapse-inverse .navbar-brand {
    color: #fff !important;
}
.navbar-pasific.navbar-center {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
/* navbar one-page */
@media (max-width: 1200px) {
    .navbar-pasific.navbar-op {
        background-color: #fff;
        border-color: #e7e7e7;
        padding: 0;
        margin: 0;
    }
    .navbar-pasific.top-nav-collapse-inverse {
        background-color: #000;
    }
    .navbar-op.top-nav-collapse,
    .navbar-op.top-nav-collapse-inverse {
        padding: 0;
        margin: 0;
    }
    .navbar-op .navbar-header {
        float: none;
    }
    .navbar-op .navbar-brand {
        color: #333;
    }
    .navbar-op .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-op .navbar-toggle {
        display: block;
    }
    .navbar-op .navbar-toggle:hover {
        background-color: #f8f8f8;
    }
    .navbar-op .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-op.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-op .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-op .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-op .navbar-nav>li {
        float: none;
        font-size: 11px;
    }
    .navbar-op .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .navbar-op .navbar-collapse {
        background: transparent;
    }
    .navbar-op .collapse.in{
  		display:block !important;
        background-color: #222;
	}
    .navbar-op .collapsing, .in {
        background-color: #222;
    }
    .navbar-op.navbar-center {
        border: 1px solid #fff;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }
}
.navbar-op.top-nav-collapse,
.navbar-mp.top-nav-collapse {
    border-bottom: 1px solid #eee;
}
.navbar-op.top-nav-collapse-inverse,
.navbar-mp.top-nav-collapse-inverse {
    border-bottom: 1px solid #333;
}
.navbar-op.top-nav-collapse .navbar-nav li a {
    color: #555 !important;
}
.navbar-op.top-nav-collapse-inverse .navbar-nav li a {
    color: #f5f5f5 !important;
}

/* navbar multipage */
@media(min-width:766px) {
    #formLogin{
        padding-top: 0;
    }
    .navbar-mp .dropdown:hover > .dropdown-menu {
        display: block;
    }
    .navbar-mp .navbar-main-collapse {
        float: right;
    }
    .navbar-mp.top-nav-collapse .navbar-nav li a {
        color: #555 !important;
    }
    .navbar-mp.top-nav-collapse-inverse .navbar-nav li a {
        color: #fff !important;
    }
    .navbar-mp .navbar-nav > li > a {
        color: rgba(255,255,255,.7) !important;
    }
    .navbar-mp .navbar-nav > li > a:hover {
        color: rgba(255,255,255,1) !important;
    }
}
@media (max-width: 766px) {
    #formLogin{
        padding-top: 20px;
    }
    .navbar-mp {
        padding: 0 !important;
        margin: 0;
    }
    .navbar-mp.top-nav-collapse .navbar-nav li a {
        color: #fff !important;
    }
    .navbar-mp.top-nav-collapse .navbar-brand,
    .navbar-mp .navbar-brand {
        color: #555 !important;
    }
    .navbar-mp .dropdown-submenu > ul.dropdown-menu {
        display: block;
        overflow: hidden;
        padding-left: 20px;
    }
    .navbar-mp .collapse.in{
  		display:block !important;
        background-color: #222;
	}
    .navbar-mp .collapsing, .in {
        background-color: #222;
    }
    .navbar-mp .navbar-brand img {
        margin-left: 0 !important;
    }    
    .navbar-mp.navbar-center {
        border: 1px solid #fff;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }
}

/* megamenu */
.megamenu .dropdown .dropdown-menu li a {
	color: #999 !important;
}

.megamenu .dropdown-menu li a{
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0 !important;
}
.megamenu .dropdown-menu li i {
    margin-right: 10px;
    color: #fff;
}
.megamenu .dropdown-menu li:first-child {
    padding-top: 10px;
}

.megamenu .dropdown-menu > li > a {
	padding:6px 15px;
}
.megamenu .navbar-nav > li > .dropdown-menu a {
	margin-top:1px;
}

.megamenu .dropdown-menu {
	box-shadow:none; 
	padding:0;
    border: 1px solid #222;
}

.megamenu .dropdown-menu .withoutdesc{    
	margin-top:0;
	padding:15px 20px;
    display: block;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.megamenu a:hover {
	text-decoration:none
}
.megamenu .dropdown-menu .withoutdesc ul li {
	padding: 7px 10px 7px 0;    
}
.megamenu .dropdown-menu .withoutdesc ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0 !important;
    color: #999 !important;
}
.megamenu .dropdown-menu .withoutdesc ul li:hover,
.megamenu .dropdown-menu .withoutdesc ul li:focus{
	color:#262626;
	text-decoration:none;
	background-color:#181818 !important
}
.megamenu .dropdown-menu .withoutdesc li:last-child {
	border-bottom:0 solid #fff;
}
.megamenu .megamenu-content.withdesc a:after {
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 0;
    margin: 10px 0 15px;
}

.megamenu .dropdown-submenu{
	position:relative;
}
.megamenu .dropdown-submenu>.dropdown-menu{
	top:0;
	left:100%;
	margin-top:0;
	margin-left: 0;
	-webkit-border-radius:1px;
	   -moz-border-radius:1px;
	        border-radius:1px;
}
.megamenu .dropdown-submenu:hover>.dropdown-menu{
	display:block;
}

.megamenu .dropdown-submenu>a:after{
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;
	margin-right:-10px;
}

.megamenu .dropdown-menu.has-submenu.pull-left {   
    position: absolute;
    text-align: right;
    position: absolute;
    right: 30px;
}
@media (min-width: 780px) {
    .megamenu .dropdown-menu.has-submenu .dropdown-submenu .dropdown-menu {
        position: absolute;
        left: -160px;
    }
    .megamenu .dropdown-menu.has-submenu {
        margin-left: -100px;
    }
    .navbar-center .megamenu {
        background-color: #fff !important;
    }
}
.megamenu p {
    font-size: 13px;
	color:#747474;
}
.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
	position: static;
}

.megamenu .container-fluid,
.megamenu .container {
	position: relative;
}
.megamenu .container-fluid .fullwidth {
    margin-left: auto !important;
    margin-right: auto !important;
}

.megamenu .container-fluid .fullwidth {
    width: 100%;
}
.megamenu .half {
    width: 50%;
	left: auto !important;
    right: auto !important;
}

.megamenu .dropdown-menu {
	left: auto;
    padding-bottom: 10px;
    background-color: #222222;
}
.megamenu .navbar-right .dropdown-menu {
    width: 250px;
}
.megamenu .megamenu-content {
	padding: 15px 25px;
	background:#222222;
}
.megamenu .dropdown.megamenu-fw .dropdown-menu {
	left: 0;
	right: 0;
}
.megamenu .title {
	font-size:13px;
	font-weight:bold;
	margin-top:15px;
	text-transform:uppercase;
	border-bottom:1px solid #494949;
	padding-bottom:10px;
}
.megamenu ul {
	list-style:none;
	padding-left:0px;
}
